.heading {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  margin: 0.6rem 0;
}

.sign-div {
  width: 12rem;
  height: 12rem;
  transition: all .3s ease-out;
}

.sign-div:hover {
  transform: scale(0.95);
}

#red-div {
  border: 1rem solid red;
}

#yellow-div {
  border: 1rem solid yellow;
}

#blue-div {
  border: 1rem solid blue;
}

.sign-div-inner {
  width: 10rem;
  height: 10rem;
}


@media screen and (max-width:600px) {
  .sign-div {
    width: 9rem;
    height: 9rem;
  }

  .sign-div-inner {
    width: 7.5rem;
    height: 7.5rem;
  }

  .flex-col {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}